spring:
  application:
    name: spring-marvel
  aop:
    proxy-target-class: true
    auto: true
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://192.168.10.100:3306/spring?useSSL=false
    username: test
    password: 123456

#mapper
mapper:
  mappers: com.marvel.mapper.BaseMapper
  not-empty: false
  identity: MYSQL

#logging
logging:
  config: classpath:logback-spring.xml

