<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.softmax.tutorial.mapper.master.UserMapper">

    <resultMap id="BaseResultMap" type="com.softmax.tutorial.entity.UserInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="passWord" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" javaType="com.marvel.entity.enums.UserSex"
                typeHandler="com.softmax.tutorial.framework.handler.BaseEnumTypeHandler"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="user_status" property="userStatus" javaType="com.marvel.entity.enums.UserStatus"
                typeHandler="com.softmax.tutorial.framework.handler.BaseEnumTypeHandler"/>
        <result column="user_level" property="userLevel" javaType="com.marvel.entity.enums.UserLevel"
                typeHandler="com.softmax.tutorial.framework.handler.BaseEnumTypeHandler"/>
    </resultMap>

    <sql id="Base_Columns">
        id, user_name, password, user_sex, nick_name,user_status,user_level
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Columns"/>
        FROM user_info
    </select>

    <insert id="addUser" keyProperty="id">
        INSERT user_info (user_name, password, user_sex, nick_name,user_status)
        VALUES (
        #{userName},
        #{passWord},
        #{userSex,typeHandler=com.framework.handler.BaseEnumTypeHandler},
        #{nickName},
        #{userStatus,typeHandler=com.framework.handler.BaseEnumTypeHandler}
        )
    </insert>

    <update id="updateUser">
        UPDATE user_info SET
        user_name=#{userName},
        user_sex=#{userSex,typeHandler=com.framework.handler.BaseEnumTypeHandler},
        nick_name=#{nickName},
        user_status=#{userStatus,typeHandler=com.framework.handler.BaseEnumTypeHandler},
        user_level=#{userLevel,typeHandler=com.framework.handler.BaseEnumTypeHandler}
        WHERE id=#{id}
    </update>
</mapper>