<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marvel.mapper.read.SystemConfigMapper">

    <resultMap id="BaseResultMap" type="com.marvel.entity.SystemConfig">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="key" property="key" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="file_type" property="fileType" jdbcType="com.marvel.entity.enums.FileType"
                typeHandler="com.framework.handler.BaseEnumTypeHandler"/>
    </resultMap>

    <sql id="Base_Columns">
        `id`, `key`, `value`, file_type
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Columns"/>
        FROM system_config
    </select>


</mapper>